.Button {
    position: fixed;
    top: 3rem;
    left: 3rem;
    z-index: 200;
    padding: .9rem 2rem;
    color: var(--text-primary);
    display: inline-block;
    border: .15rem solid var(--color-tertiary);
    border-radius: .2rem;
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.Button--inverted {
    color: var(--color-tertiary);
    border: .13rem solid var(--color-tertiary);
}