.Madsemicolon {
    position: fixed;
    width: 5.2rem;
    height: 5.2rem;
    bottom: 3rem;
    right: 3rem;
    overflow: hidden;
    z-index: 200;
    border-radius: 50%;
    border: 2px solid #f17017;
    padding: .3rem;
}

.Madsemicolon img {
    width: 100%;
    border-radius: 50%;
}